.custom-button {
  width: auto;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  flex-direction: row;
  font-weight: 500;
  cursor: pointer;
  gap: .5em;
  transition: transform 0.2s ease-in-out, background 0.3s ease, color 0.3s ease;

  svg {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    transform: scale(1.02);
  }

  // Icon position variants
  &.custom-button-left {
    flex-direction: row;
  }

  &.custom-button-right {
    flex-direction: row-reverse;
  }

  // Size variants
  &.custom-button-s {
    padding: 0.5em 0.75em;
    gap: 0.25em;
    border-radius: 0.75em;
  }

  &.custom-button-m {
    padding: 0.75em 1.25em;
    border-radius: 0.75em;
  }

  &.custom-button-l {
    padding: 1em 1.5em;
    border-radius: 1em;
  }

  // Variant styles
  &.custom-button-primary {
    background: linear-gradient(
      180deg,
      var(--button-color) 0%,
      color-mix(in srgb, var(--button-color) 70%, #000 30%) 100%
    );
    color: white;

    &:hover {
      background: linear-gradient(
        180deg,
        var(--button-color-hover) 0%,
        color-mix(in srgb, var(--button-color-hover) 70%, #000 30%) 100%
      );
    }
  }

  &.custom-button-secondary {
    background: linear-gradient(
      180deg,
      var(--bg-color-high) 0%,
      color-mix(in srgb, var(--bg-color-high) 70%, #000 10%) 100%
    );
    color: var(--primary-text);
    border: 1px solid var(--border-color);

    &:hover {
      background: linear-gradient(
        180deg,
        var(--bg-color-high) 0%,
        color-mix(in srgb, var(--bg-color-high) 50%, #000 5%) 100%
      );
      color: var(--highlight-color-high);
      text-decoration: underline;
    }
  }

  &.custom-button-tertiary {
    background: linear-gradient(
      180deg,
      transparent 0%,
      color-mix(in srgb, var(--bg-color-high) 60%, transparent 10%) 100%
    );
    color: var(--highlight-color);
    padding: 0.5em !important;

    &:hover {
      background: linear-gradient(
        180deg,
        var(--bg-color-high) 0%,
        color-mix(in srgb, var(--bg-color-high) 60%, #000 5%) 100%
      );
    }
  }

  &.custom-button-link {
    background-color: #28a745;
    color: #ffffff;
    border-radius: 1em;

    &:hover {
      background-color: #218838;
    }
  }
}