:root {
  /* Color palette */
  --grey-100: #fdfcf9;
  --grey-200: #f8f7f7;
  --grey-300: #e8e7e4;
  --grey-400: #c9c8c5;
  --grey-500: #9a999e;
  --grey-600: #6a696e;
  --grey-700: #3b3a3e;
  --grey-800: #232327;
  --grey-900: #131313;
} 