.company-form-container {
  width: 100vw;
  margin-top: 5em;
  padding: 5em 2em 7em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border: none;
  background: linear-gradient(180deg, #f7f5ff 80%, #ffffff 100%);
  position: relative;

  @media screen and (max-width: 768px) {
    width: -webkit-fill-available;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding-top: 3px;
    background: linear-gradient(90deg, var(--bg-color-high) 10%, #491cff7a 50%, var(--bg-color-high) 90%);
    -webkit-mask:
      linear-gradient(#ffcfcf 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask:
      linear-gradient(#ffcfcf 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 0;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  .tags-row {
    display: flex;
    max-width: 80ch;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    margin-top: 0.5em;
    flex-wrap: wrap;
  }

  h4 {
    text-align: center;
    max-width: 40ch;
    color: var(--secondary-text);
    margin: 0.5em 0 0.5em 0;
  }

  h2 {
    margin-bottom: 0.5em;
    text-align: center;
  }

  .status-message {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background: var(--bg-color-high);
    color: var(--primary-text);
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 1.1em;
  }

  form {
    width: 100%;
    // max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    background: none;
    align-items: center;
    margin: 0 auto;

    textarea,
    input {
      width: 100%;
      padding: 1.25em;
      border-radius: .75em;
      border: 1px solid var(--border-color);
      background-color: var(--bg-color);
      color: var(--primary-text);
      box-sizing: border-box;
      font-size: 1.1em;
      font-family: inherit;
      transition: border 0.2s;

      &:focus-visible {
        outline: none;
        border: 1px solid var(--highlight-color);
      }

      &::placeholder {
        color: var(--tertiary-text);
      }
    }

    textarea {
      min-height: 100px;
      resize: vertical;
    }

    .submit-button {
      align-self: center;
      margin-top: 1em;
      min-width: 180px;
    }
  }

  .cta-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    margin: 1em;
    flex-wrap: wrap;
  }
}