// JobEntry.module.css
.resume {
    width: var(--width-container);
    max-width: var(--max-width-container);
    margin: auto;
    background-color: #fff;
    flex-direction: column;
    gap: 1em;
    border-radius: .75em;
    border: 2px solid var(--border-color);

    @media (max-width : 700px){
        width: 100%;
    }

    .resume-frame {
        width: 100%;
        height: 85vh;
        border: none;
    }
}