.faq-container {
    max-width: var(--max-width-container);
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    gap: 1em;
    margin: auto;
    padding-top: 4em;

    @media screen and (max-width: 768px) {
        padding: 1em;
    }
}

.faq-item {
    // border: 1px solid var(--border-color);
    overflow: hidden;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    border-radius: 1em;
    align-items: center;
    padding: 1em;
    background-color: var(--bg-color-high);
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: var(--bg-color-hover, var(--bg-color-high));
}

.faq-icon {
    font-size: 1.5em;
    color: var(--secondary-text);
    transition: transform 0.3s ease;
}

.faq-answer {
    padding: 1em;
    background-color: var(--bg-color);
    // border-bottom: 1px solid var(--border-color);
    color: var(--secondary-text);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.faq-answer.open {
    max-height: 500px; /* Adjust based on your content */
    opacity: 1;
}

.faq-answer.closed {
    padding-top: 0;
    padding-bottom: 0;
}