.header-with-carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
    .header-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding:  4em;
        width: var(--width-container);
        max-width: var(--max-width-container);
        margin: 0 auto;
        gap: .5em;

        h1,
        h5,
        h2,
        h3 {
            margin: 0;
        }
    }

    .length-xxs{
        max-width: 20ch;
    }
}