    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-count: 2;
        background-color: var(--bg-color);

        .header-column-one {
            display: flex;
            flex-direction: column;
            height: fit-content;
            align-items: flex-start;
            width: var(--width-container);
            max-width: var(--max-width-container);
            margin: 0 auto; 
            margin-top: 0;
            padding: 4em 1em;
            padding-bottom: 2em;
            gap: .6em;

            .header-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: .5em;
                width: 80%;
            }

            .name-tag-group {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5em;
            }

            .tags {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 0.5em;
                margin: 0.5em 0;
                flex-wrap: wrap;
                justify-content: start;
            }

            h1,
            h5,
            h2,
            h3,
            p {
                margin: 0;
                text-align: left;
            }

            .intro-text {
                max-width: 45ch;
            }

            h1 {
                max-width: 35ch;

                @media screen and (max-width: 767px) {
                    font-size: 2.2em;
                }
            }

            p {
                color: var(--tertiary-text);
                // text-align: center;
            }

            .length-xxs {
                color: var(--secondary-text);
                max-width: 50%;
            }

            .button-group {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                gap: .5em;
                margin-top: 1em;

                @media screen and (max-width: 767px) {
                    gap: 0.5em;
                    display: none;
                }
            }

            @media screen and (min-width: 1024px) {}

            /* Medium screens (tablet) */
            @media screen and (max-width: 1023px) and (min-width: 768px) {}

            @media screen and (max-width: 767px) {
                height: 70vh;
                justify-content: center;
                gap: 0.6em;

                .length-xxs {
                    max-width: 90%;
                }

                .name-tag-group {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0.3em;
                }
            }

            /* Small screens (mobile) */

        }

        .header-column-two {
            .profile {
                width: 7.5em;
                height: 7.5em;
                // padding: .3em;
                border: 3px solid var(--grey-100);
                background: rgb(252, 249, 243);
                background: linear-gradient(0deg, rgba(252, 249, 243, 1) 0%, rgba(245, 236, 219, 1) 30%, rgba(240, 229, 206, 1) 100%);
                border-radius: 5em;
                object-fit: cover;
                box-shadow: 1px 1px 13px 1px #00000012;
                /* Prevents the image from repeating */
            }
        }
    }