@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

    // Move only half the duplicated content
}

.carousel-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: var(--width-container);
    max-width: var(--width-container);
    box-sizing: border-box;
    position: relative; // Added to position the absolute elements
    gap: 1em;
    background-color: #ffffff15;
    margin: auto;

    border: 1px solid var(--border-color);
    padding: 4em;
    // background-color: #e5f0ff;
    // border-radius: 2em;

    .carousel-track {
        width: 100%;
        display: flex;
        animation: scroll 15s linear infinite; // Adjusted for smooth continuous scroll
    }

    .carousel-item {
        flex: 0 0 auto; // Ensure items do not grow or shrink
        overflow: hidden;
        margin: .5em;
        position: relative; // Ensure z-index stacking context
        z-index: 1; // Ensures items are stacked correctly

        img {
            display: block;
            object-fit: cover;
            width: 100%; // Adjusted to fill the carousel-item
            height: 50vh; // Adjust height to maintain aspect ratio
        }
    }
}
