.project-header {
    max-width: 840px;
    // min-width: 840px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 4em 0;
    gap: 4em;

    .project-header-image {
        width: inherit;
        border-radius: .75em;
        // max-width: 640px;
        width: 100%;
    }

    .project-header-data {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: .5em;
        // margin-bottom: 4em;


        h2 {
            margin: 0;
            max-width: 22ch;
            font-size: 3em;
            text-align: center;
        }

        .project-tags {
            margin: 0;
            color: var(--grey-300);
        }
    }
}