.container-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40vw;
    margin: auto;

    h5,
    h6,
    li,
    p {
        font-weight: 400;
        margin: 0;
    }

    p {
        margin-bottom: .5em;
    }

    .intro {
        display: flex;
        flex-direction: column;
    }

    .img-container {

        h4 {
            text-transform: uppercase;
        }

        h5 {}

        p {}
    }
}