.project-sidepanel {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin: 6em 2em 2em;
  position: -webkit-sticky;
  position: sticky;
  top: 4.5em;
  height: fit-content;

  a {
    display: block;
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: .25em;
    padding: .5em;
    letter-spacing: -0.5px;
    color: var(--tertiary-text);
    border-radius: .75em;
    transition: all 0.2s ease;
    font-weight: 500;

    &:hover {
      color: var(--primary-text);
      background-color: var(--bg-color-high);
      font-weight: 500;
    }

    &.active {
      background-color: var(--bg-color-high);
      color: var(--primary-text);
      position: relative;
      font-weight: 600;

      &::before {
        content: "";
        position: absolute;
        left: -1em;
        top: 50%;
        transform: translateY(-50%) scale(1);
        width: 0.5em;
        height: 0.5em;
        background-color: var(--highlight-color);
        border-radius: 50%;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
    }
  }
}

@media (max-width: 768px) {
  .project-sidepanel {
    display: none;
  }
}