.container-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    // h1,h2,h3,h4,h5,h6,p,li{
    //     max-width: 50%;
    // }

    h5,
    h6,
    li,
    p {
        font-weight: 400;
        margin: 0;
    }

    p {
        margin-bottom: .5em;
    }

    .intro {
        max-width: 600px;
        display: flex;
        flex-direction: column;
    }

    .img-container {

        h4 {
            text-transform: uppercase;
        }
    }
}

.img-text-parent {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 960px;
    min-width: 840px;
    width: 70vw;
    margin: 2em auto;

    .body-element {
        max-width: 600px;
        padding: 2em 0;
        margin: auto;
    }

    .figure-element {
        width: 100%;
    }
}