.container {

    .project-container {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #fff;
        // border-radius: 1.5em;
        // border: 1px solid #e3e3e3;
        box-shadow: 0px 0px 30px 10px #00000010;
        transition: box-shadow 0.15s ease-in-out;

        .divider {
            border-radius: 0 0 1em 1em;
            height: .125em;
            background: linear-gradient(90deg, rgba(212, 230, 255, 0.23) 3.66%, #3D89F8 24.73%, #3D89F8 75.41%, rgba(212, 230, 255, 0.01) 100%);
        }

        &:hover {
            // background-color: #eaebf3;
            
            box-shadow: 0px 0px 30px 10px #00000020;

            .project-image {
                transform: scale(1);
            }

            .read-more {
                transform: translateY(10%);
                opacity: 1;
            }

            .project-meta {
                transform: translateY(10%);
                opacity: 0;
            }
        }

        .project-card {
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: start;
            transition: box-shadow .3s ease-in-out;
            gap: .5em;
            padding: 2em 2em 2.5em 2em;
            // background: radial-gradient(50% 50% at 50% 50%, #7DB2FF 0%, rgba(61, 226, 248, 0.90) 100%);

            h3 {
                font-size: 1.5em;
                margin: 0;
            }

            img {
                width: 100%;
                border-radius: .5em;
            }

            .desc {
                display: none;
                font-size: 1.2em;
                margin: 0;
                font-weight: 400;
            }
        }

        .read-more {
            position: absolute;
            width: 100%;
            justify-content: space-between;
            background-color: transparent;
            border-radius: .5em;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1em;
            border: none;
            font-weight: 400;
            cursor: pointer;
            color: #00000094;
            text-transform: uppercase;
            opacity: 0;
            transform: translateY(40%);
        }

        .project-meta {
            font-size: 1em;
            margin: 0;
            font-weight: 500;
        }

        .shadow {
            text-shadow: 0px 0px 1px #00000053;
        }

        .project-image {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            transform-origin: center;
            transition: transform 0.3s ease-out;
            transform: scale(1.03);
        }

        .img-container {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .material-icons {
            transition: transform 0.3s ease-out;
            font-size: 1em;
        }

        .project-controls {
            width: -webkit-fill-available;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            height: 1.25em;
            overflow: hidden;
            position: relative;
        }

        .text {
            position: absolute;
            transition: transform 0.3s ease-in-out;
            left: 0;
        }
    }
}