    .project-container {
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        align-items: start;
        transition: box-shadow 0.15s ease-in-out;
        border-radius: 2em;
        padding: 0 0 0 3em;
        background-color: #00000031;
        border: 1px solid var(--border-color);

        a {
            color: inherit;
        }

        .divider {
            border-radius: 0 0 1em 1em;
            height: .125em;
            background: linear-gradient(90deg, rgba(212, 230, 255, 0.23) 3.66%, #3D89F8 24.73%, #3D89F8 75.41%, rgba(212, 230, 255, 0.01) 100%);
        }

        &:hover {
            .read-more {
                opacity: 1;
            }
        }

        .project-card {
            width: -webkit-fill-available;
            display: flex;
            position: relative;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            text-decoration: none;
            padding: 3em 2em 2em 0;
            gap: .5em;

            h2 {
                font-size: 1.75em;
                margin: 0;
                // text-align: center;
            }

            h3 {
                font-size: 1.5em;
                margin: 0;
            }

            img {
                width: 100%;
                border-radius: .5em;
            }

            .project-data {

                .desc {
                    font-size: 1.25em;
                    margin: 0;
                    font-weight: 400;
                    text-decoration: none;
                    max-width: 30ch;
                    color: var(--grey-300);
                    // text-align: center;
                }
            }

            .project-controls {
                display: flex;
                position: relative;
                flex-direction: column;
                align-items: end;

                .project-meta {
                    font-size: 1.25em;
                    margin: 0;
                    font-weight: 500;
                }
            }

            .shadow {
                text-shadow: 0px 0px 1px #00000053;
            }
        }
    }

    .img-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 1em 0 0 0;

        .project-image {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            transform-origin: center;
            scale: 1.04;
            border: 1px solid var(--border-color);
            transition: transform 0.3s ease-out;
        }
    }

    .project-container:hover .project-image {
        transform: translateX(-5px) translateY(-5px);
    }

    .project-container:hover .svg-inline--fa {
        opacity: 1;
        transform: translateX(0px);
    }

    .svg-inline--fa{
        color: var(--grey-100);
        opacity: 0;
        transition: all 0.3s ease-out;
        transform: translateX(-5px);
    }