.container-project {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: auto;
    justify-content: center;

    @media screen and (min-width: 1440px) {
        justify-content: center;
    }

    .project-content-wrapper {
        width: var(--max-width-container);
        position: relative;
    }

    .project-details {

        .red {
            background-color: #d50019;
            color: white;
            width: fit-content;
            padding: 0.25em;
        }

        section {
            max-width: 60%;
            padding: 1.5em 3em 1.5em 3em;
        }

        video {
            width: --webkit-fill-available;
            height: auto;
        }

        .stories {
            width: -webkit-fill-available;
            border-radius: 0.75em;
            overflow: hidden;
        }

        h3 {
            // color: var(--highlight-color);
        }

        h4 {
            max-width: 40ch;
        }

        video {
            width: -webkit-fill-available;
            height: auto;
            border: 1px solid var(--border-color);
            border-radius: 1em;
        }

        blockquote {
            font-family: 'Google Sans Code', Courier, monospace;
            font-size: 1.25em;
            font-style: italic;
            color: var(--highlight-color);
            padding: 0.5em;
            margin-left: 1em;
            border-left: .15em solid var(--highlight-color);
            // background-color: var(--bg-color-high);

            @media (max-width: 767px) {
                width: 100%;
                // font-size: 1.5em;
            }
        }

        .intro {
            max-width: 640px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .img-container {
            h4 {
                text-transform: uppercase;
            }
        }
    }
}

/* Breakpoints */
@media (max-width: 1024px) {
    .project-details {

        section,
        figure {
            padding: 0 1em;
        }
    }
}

@media (max-width: 768px) {
    .project-details {
        max-width: 100vw;

        section {
            width: 85vw;
            min-width: 80vw;
            max-width: 95vw !important;
            padding: 0 1em;
        }

        figure {
            max-width: 100vw !important;
            padding: 0 1em;
        }
    }
}

@media (max-width: 480px) {
    .container-project {
        width: 100%;
    }

    .project-details {

        section,
        .intro {
            max-width: 100%;
        }
    }
}