.container-project {
    max-width: var(--max-width-container);
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;

    .project-content-wrapper {
        position: relative;
    }

    .project-details {
        width: var(--max-width-container);

        .red {
            background-color: #d50019;
            color: white;
            width: fit-content;
            padding: 0.25em;
        }

        section {
            max-width: 70%;
        }

        .stories {
            width: fit-content;
            border-radius: 0.75em;
            overflow: hidden;
        }

        h2 {
            font-size: 2.2em;
            font-weight: 500;
            color: var(--primary-text);
        }

        h3 {
            padding-top: 0.5em;
            color: var(--highlight-color);
        }

        h4 {
            font-size: 1.8em;
            font-weight: 500;
        }

        p {
            margin-bottom: 0.5em;
        }

        blockquote {
            font-size: 1.8em;
            font-weight: 500;
            color: var(--highlight-color);
            padding: 0.5em;
            margin-left: 0;
            border-radius: 0 0.5em 0.5em 0;
            border-left: 4px solid var(--highlight-color);
            background-color: var(--bg-color-high);

            @media (max-width: 767px) {
                width: 100%;
                font-size: 1.5em;
            }
        }

        .intro {
            max-width: 640px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .img-container {
            h4 {
                text-transform: uppercase;
            }
        }
    }
}

/* Breakpoints */
@media (max-width: 1024px) {
    .project-details {
        max-width: 100vw;

        section,
        figure {
            max-width: 70% !important;
            padding: 0 1em;
        }
    }
}

@media (max-width: 768px) {
    .project-details {
        max-width: 100vw;

        section {
            width: 85vw;
            min-width: 80vw;
            max-width: 95vw !important;
            padding: 0 1em;
        }

        figure {
            max-width: 100vw !important;
            padding: 0 1em;
        }
    }
}

@media (max-width: 480px) {
    .container-project {
        width: 100%;
    }

    .project-details {
        section,
        .intro {
            max-width: 100%;
        }
    }
}
