.testimonials-section {
    width: var(--width-container);
    max-width: var(--max-width-container);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    align-items: center;
    margin-top: 2em;
    position: sticky;
    bottom: 0;
    z-index: -1;

    h1 {
        text-align: center;
    }

    .testimonials-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .testimonial-card {
        border-radius: 1.5em;
        min-width: 0;
        max-width: 100%;
        flex: 0 0 auto;
        min-height: 10em;
        display: flex;
        flex-direction: column;
        background-color: var(--bg-color-high);
        padding: 1.5em;
        border: 1px solid var(--border-color);
        justify-content: space-between;
        gap: 2em;
        transition: transform 0.3s ease, rotate 0.3s ease;

        p {
            margin: 0;
            line-height: 145%;
            color: var(--secondary-text);

            .highlighted {
                color: var(--highlight-color);
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
                padding: 0 0.1em;
                background: #af6f0018;
                border-radius: 0.2em;
            }
        }
    }

    .testimonial-header {
        display: flex;
        align-items: start;
        gap: .5em;

        img {
            // background-color: white;
        }

        .testimonial-meta {

            h4,
            h5 {
                margin: 0;
            }
        }
    }

    .testimonial-avatar {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        object-fit: cover;
        // background-color: wheat;
    }
}

@media (max-width: 900px) {
    .testimonials-section {
        padding: 1em;

        .testimonials-grid {
            grid-template-columns: 1fr;
        }
    }
}