.testimonials-section {
    width: var(--width-container);
    max-width: var(--max-width-container);
    margin-left: auto;
    background-color: var(--bg-color);
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow: hidden;
    align-items: center;
    padding-top: 2em;
    z-index: -1;

    h1 {
        text-align: center;
    }

    .testimonials-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .testimonial-card {
        min-width: 0;
        max-width: 100%;
        flex: 0 0 auto;
        min-height: 10em;
        display: flex;
        background-color: var(--bg-color-high);
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 1.5em;
        padding: 1.5em;
        border-radius: 1em;
        transition: transform 0.3s ease, rotate 0.3s ease;
    }

    .testimonial-content {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 3.5em;
        gap: 0.5em;

        p {
            margin: 0;
            line-height: 145%;
            color: #666;
            flex-grow: 1;

            .highlighted {
                color: var(--highlight-color);
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
                padding: 0 0.1em;
                border-radius: 0.2em;
                font-weight: 500;
            }
        }

        .testimonial-title {
            font-weight: 500;
            color: var(--primary-text);
            margin: 0;
        }
    }

    .testimonial-header {
        display: flex;
        align-items: start;
        gap: .5em;

        img {
            // background-color: white;
        }

        .testimonial-meta {

            p,
            h5 {
                margin: 0;
                font-weight: 400;
            }

            p{
                color: var(--primary-text);
            }

            h5{
                opacity: .7;
            }
        }
    }

    .testimonial-avatar {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        object-fit: cover;
        // background-color: wheat;
    }
}

@media (max-width: 900px) {
    .testimonials-section {
        padding: 1em;

        .testimonials-grid {
            grid-template-columns: 1fr;
        }
    }
}