$gap: 1em;
$border-radius: 0.75em;

@mixin flex($direction: column, $gap: $gap) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

.training-parent {
  @include flex(column);
  align-items: center;
  justify-content: center;
  max-width: var(--max-width-container);
  margin: 0 auto; // Center the container

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.intro{
  background-color: white
}

.book {
  @include flex(row);
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width-container);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.training {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: $border-radius;
  padding: $gap * 2;
  background-color: white;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}

.calendly{
  width: 100%;
  min-width: 320px;
  height: 700px;
}

.primary {
  background: var(--grey-600);
  color: var(--grey-100);
  border: none;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    padding: 0 1.5em;
  }

  input {
    width: 100%;
    padding: 1.25em;
    border-radius: $border-radius;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    font-size: 1.2em;

    &:focus-visible {
      outline: none;
      border-color: var(--highlight-color);
    }
  }

  .submit-button {
    grid-column: 1 / -1;
  }
}