.contact-form-container {
  max-width: -webkit-fill-available;
  margin: auto;
  // margin-bottom: 4em;
  // border-radius: .75em;
  padding: 5em 2em;
  padding-bottom: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  border: 1px solid var(--border-color);
  background: linear-gradient(180deg, #f7f5ff 80%, #ffffff 100%);
  position: relative;
  border: none;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding-top: 3px;
    background: linear-gradient(90deg, var(--bg-color-high) 10%, #491cff7a 50%, var(--bg-color-high) 90%);
    -webkit-mask:
      linear-gradient(#ffcfcf 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 0;
  }

  >* {
    position: relative;
    z-index: 1;
  }


  h1 {
    margin-bottom: 0;
  }

  h4 {
    text-align: center;
    max-width: 40ch;
    color: var(--secondary-text);
  }

  /* Button row */
  .cta-row {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    flex-wrap: wrap;
  }

  .tags-row {
    display: flex;
    max-width: 80ch;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
  }
}

/* Responsive adjustments */
@media (max-width: 800px) {
  .contact-form-container {
    padding: 5em 1em;
    padding-bottom: 8em;
  }

  .cta-row {
    gap: 1em;
  }
}