@import url('./styles/general-sans.css');
@import url('./styles/circular.css');

* {
  font-family: 'Circular-Book', 'Arial Narrow', Arial, sans-serif;
  // font-weight: 500;

  body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 15px;

    @media (max-width: 1024px) {
      font-size: 13px;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }

    position: relative;

    --bg-color: #fdfdf8;
    background-color: var(--bg-color);

    --bg-color-high: #f7f7f7;

    --grey-100: #fcf9f3;
    --grey-200: #eaeaea;
    --grey-250: #d4d4d4;
    --grey-300: #6a696e;
    --grey-400: #333335;
    --grey-600: #010021;

    --accent-color: #68D1FC;

    --primary-text: var(--grey-600);
    --secondary-text: var(--grey-400);
    --tertiary-text: var(--grey-300);

    --border-color: var(--grey-200);
    --visited-link: #ffffff;
    --highlight-color: #af6f00;
    --highlight-color-light: #bf7900;
    --highlight-color-high: #9e6400;

    --max-width-container: 840px;
    --width-container: 70vw;

    @media (max-width: 1024px) {
      --width-container: 100%;
    }

    margin-bottom: 5em;

    main {
      width: 100vw;
      height: -webkit-fill-available;
      position: absolute;
      z-index: -1;
      top: 0;

      canvas {
        width: 100%;
        height: 100%;
      }
    }

    h1 {
      font-family: 'Circular-Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 2.2em;
      font-weight: 500;

      margin: .4em 0;
      color: var(--primary-text);
      
      line-height: 140%;
      letter-spacing: -1px;
    }

    h2 {
      font-family: 'Circular-Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 2.0em;
      font-weight: 500;

      color: var(--highlight-color);
      margin-bottom: .5em;

      line-height: 110%;
      letter-spacing: -.8px;
    }

    h3 {
      font-family: 'Circular-Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.8em;
      font-weight: 500;

      margin: .4em 0;
      color: var(--grey-600);
      
      line-height: 140%;
      letter-spacing: -1px;
    }

    h4 {
      font-size: 1.8em;
      font-weight: 500;

      letter-spacing: -.2px;
      margin-bottom: .4em;
      margin-top: .6em;
    }

    h5,
    h6 {
      font-size: 1.4em;
      font-weight: 500;
      
      text-transform: capitalize;

      color: var(--tertiary-text);

      line-height: 150%;
    }

    h5 {
      font-family: "Architects Daughter", Helvetica, sans-serif;
      font-size: 1.25em;
      margin: 0;
    }
    
    p,
    li {
      font-size: 1.4em;
      color: var(--secondary-text);
      line-height: 130%;
      letter-spacing: -.5px;
    }

    li {
      margin-bottom: .5em;
      line-height: 140%;
    }
  }

  figure {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 1em 0;
    gap: .5em;
    object-fit: cover;

    img {
      width: 100%;
      height: auto;
      border: 1px solid var(--border-color);
      border-radius: 1em;
    }

    figcaption,
    caption {
      color: var(--tertiary-text);
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 1em;
    }
  }

  a {
    text-decoration: none;
  }

  canvas {
    display: block;
  }

  .medium {
    font-weight: 400;
  }

  .semibold {
    font-weight: 500;
  }

  .bold {
    font-weight: 800;
  }

  .length-m {
    max-width: 35ch;
  }

  .length-s {
    max-width: 30ch;
  }

  .slab {
    // font-family: "Montagu Slab", Helvetica, sans-serif;
  }

  .hand {
    // font-family: "Architects Daughter", Helvetica, sans-serif;
  }
}